[submodule "vision_opencv"]
	path = vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "Detectron2_ros"]
	path = Detectron2_ros
	url = https://github.com/DavidFernandezChaves/Detectron2_ros.git
