<?xml version="1.0" encoding="utf-8"?>
<launch>

    ### ROSBRIDGE ###
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    ### Semantic_maping Virtual###
    <node name="semantic_mapping" pkg="vimantic" type="ViMantic_VirtualHome_Detectron_node.py" output="screen">
        <param name="topic_result" value="vimantic/SemanticObjects"/>
        <param name="topic_cnn" value="detectron2_ros/result"/>
        <param name="threshold" value="0.20"/>
        <param name="point_cloud" value="false"/>
        <param name="debug" value="true"/>
        <param name="record_times" value="false"/>
    </node>

    ### RVIZ ###
    <node name="rviz_player" pkg="rviz" type="rviz"
          args="-d $(find vimantic)/launch/ViMantic_virtualHome_detectron.rviz"/>


</launch>
